@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #029147;
  --background-color: #f7f7f7;
  --content-background-color: #f0f2f5;
  --text-color: #4f4f4f;
  --text-color-secondary: rgba(0, 0, 0, 0.45);
  --table-header-color: #4f4f4f;
  --green: #029147;
  --yellow: #fbad48;
  --bg-yellow: #f3e9dc;
  --dark-blue: #255072;
  --black-bg: #292929;
  --very-light-gray: #acaaaa;
  --light-gray: #828282;
  --background-gray: #e0e0e0;
  --mid-gray: #c0bfbf;
  --text-color-gray: #c9c9c9;
  --black: #2d2e32;
  --red: #d10014;
  --light-red: #ff4d4f;
  --border: #ccc9c9;
  --nav-bar-text: #636363;
}

html,
body {
  padding: 0;
  margin: 0;
}